.RandomImage-container {
  width: 100%;
  max-width: 1080px;
  padding: 20px;
  margin: 0 auto;
}

.RandomImage-image {
  width: 100%;
  max-width: 1080px;
  height: 60vh;
  object-fit: cover;
}

.RandomImage-link {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: block;
}
